@import url('../index.css');

#footer {
    padding: 1rem;
    margin-top: 1rem;
    background: var(--color-four);
    /* To make static on botton of page */
    position: static;
    bottom: 0;
    width: 100%;
}

#gitHubIcon {
    height: 40px;
}

#linkedInIcon {
    height: 40px;
    filter: brightness(0) invert(1); /* Make white from colored */
}

#stackIcon {
    height: 40px;
    filter: brightness(0) invert(1);
}

#icons {
    width: max-content;
}