@import url('../../index.css');

#aboutme {
    padding: 1rem;
    margin: 1rem;
}

#icon {
    width: 80px;
    height: 80px;
    margin: 1rem;
    border-radius: 50%;
}

h1 {
    color: azure;
}

#description {
    color: azure;
    font-size: 1.5rem;
}