@import url('../../index.css');

#contact {
    padding: 2rem;
    margin: 2rem;
    background: var(--color-five);
}

#exampleFormControlTextarea1 {
    width: 50%;
}

#exampleFormControlInput1 {
    width: 50%;
}

#errorMessage{
    color: var(--color-tertiary);
    font-weight: bold;
}

/* Bootstrap Overrides */

.form-label {
    color: var(--color-secondary);
    font-weight: bold;
}

.btn-secondary {
    background: var(--color-secondary);
    color: azure;
}

.btn-secondary:hover {
    background: var(--color-four);
    color: azure;
}