h3 {
    color: var(--color-five);
}

ul {
    color: azure;
}

p {
    color: azure;
}

a {
    color: azure;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--color-four);
}